*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.board {
  width: 100%;
  height: 80vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: #fff;
}

.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: #727272;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #000;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0009;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0.35em 0.25em;
  cursor: pointer;
}
.winning-message button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.winning-message.show {
  display: flex;
}

.buttons-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  font-size: 1.5rem;
  position: relative;
  bottom: 8em;
  padding-left: 2em;
}

.player > *,
.Tie > *,
.computer > * {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.result-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.result-list > li {
  margin-top: 10px;
}

.results-div {
  position: relative;
  bottom: 12em;
}

@media screen and (max-width: 600px) {
  :root {
    --cell-size: 80px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  .board {
    height: 60vh;
  }

  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
  }

  .winning-message {
    font-size: 3rem;
  }

  .winning-message button {
    font-size: 2rem;
  }

  .scores {
    gap: 2em;
    font-size: 1rem;
    bottom: 4em;
  }

  .result-list {
    font-size: 1rem;
  }

  .results-div {
    bottom: 6em;
  }
  .buttons-div {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  .buttons-div {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}
